button {
    font-family: Stick, sans-serif;
}

#debugText {
    /*font pair for Stick, good for longer blocks of text*/
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 400px;
    height: 600px;
    position: relative;
}

#gameCanvas {
    min-width: 100%;
    min-height: 100%;
}

#menuButtonsDiv {
    display: block;
    position: absolute;
    top: 200px;
    width: 400px; /* should match gameCanvas.width */
}

#menuButtonsDiv button {
    background-color: #f44336;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    display:block;
    padding: 5px 10px;
    margin: 5px auto;
    /*
    max-width: 100px;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    left: 16px;
    position: absolute;
    */
}

#backToMenuButton {
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    display: none;
}

#pauseButton {
    background-color: #4e4e4e;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 3px 7px;
    font-size: 18px;
    display: none;
}

#backgroundSelect {
    background-color: #535353;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 200px;
    padding: 3px 7px;
    font-size: 18px;
    display: none;
}

